*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-color:white;
    --color-text:black
}
body{
    transition: 0.3s ease-out;
    background-color: var(--main-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

h2{
    margin: 0px 0 30px;
    color: var(--color-text);
}
.container{
    position: relative;
    width: 80%;
    margin: auto;
    padding: 20px;
    color: var(--color-text);
}
.container .mood{
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 50px;
    background-color: black;
    height: 30px;
    border-radius: 15px;
}

.container .mood span{
    position: absolute;
    display: block;
    background-color: rgb(255, 255, 255);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 5px;
    right: 25px;
    transition: 0.4s;
}
.mood span.active{
    right: 5px;
}
form label{
    display: block;
}
form div{
    margin-bottom: 20px;

}

form input , button{
    padding: 10px;
    display: block;
    width: 100%;
    margin: 5px 0;
    border: 0;
    background-color: var(--main-color);
    color: var(--color-text);
    outline: 1px solid var(--color-text);
    font-size: 19px;
}

button{
    cursor: pointer;
    transition: 0.3s;
}

button:hover{
    background-color: black;
    color: white;
}


.created-div{
    padding: 10px 0;
    background-color: var(--main-color);
    color: var(--color-text);
    position: relative;
    margin: 10px 0;
    display: flex;
    align-items: center;

}
.created-div .created-span{
    position: absolute;
    right: 0px;
    cursor: pointer;
    border: 1px solid var(--color-text);
    display:block;
    padding: 5px;
}
.remove-all{
    margin: 15px 0;
}

.container >ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}